#graph {
  border: solid 1px gray;
}

.dot:hover {
  fill: #ff9933;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 10px;
  font: 12px;
  background: white;
  border: 1px solid gray;
  border-radius: 5px;
  visibility: hidden;
}
